<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{metaTitle}}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/favicon/manifest.json">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/main.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main>
    <section>
      <div class="container">
        <h1>Hello.</h1>
      </div>
    </section>
  </main>

  <script type="text/javascript" src="/js/vendor.js"></script>
  <script type="text/javascript" src="/js/main.min.js"></script>
</body>
</html>
